/* Add additional stylesheets below
-------------------------------------------------- */
h1 {
    position: absolute;
    width: 80%;
    left: 3%;
    top: 2%;
    font-family: monospace;
    font-size: 36px;
    padding: 0px;
    margin: 5px;
    z-index: -2;
}
h2 {
    color: red;
    position: absolute;
    right: 0px;
    width: 25%;
    text-align: center;
    top: 42%;
    font-family: monospace;

}

kbd {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1px 8px;
    margin: 0 3px;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    background-color: #f7f7f7;
}

.small {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #cccccc;
    z-index: -1;
}
.big {
    position: absolute;
    bottom: 5%;
    left: 5%;
    background: white;
    z-index: 2;
}

footer {
    display: none;
}

hr {
    display: none;
}

ul {
    display: none;
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.battleGrid {
	border: 1px solid black;
	border-spacing: 0px;
}

#visibleButtons {
    position: absolute;
    right: 3%;
    bottom: 48%;
}

.battleGrid tr {
    border: 1px solid black;
}

.battleGrid td {
    border: 1px solid black;
}

td:hover {
	background-color: gray;
}

.placed {
	background-color: gray;
}

.occupied {
	background-color: black;
}

.captainsQuarter {
    background-color: gold;
}

.submerged {
    opacity:.6;
    outline: 3px solid green !important;
}


.hit {
	background-color: orange;
}

.sink {
	background-color: red;
}

.miss {
	background-color: blue;
}



/* Modal Styles
==============================================================*/

#modal-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.85);
}

.hidden {
	display: none;
}

#error-modal {
	position: absolute;
	top: 25%;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1010;
}

.modal-text {
	font-size: 30px;
}

#modal-ok-button {
	font-size: 25px;
	margin-left: 45%;
	margin-right: 45%;
	margin-bottom: 1%;
	cursor: pointer;
}

.modal-dialog {
	width: auto;
	max-width: 600px;
	min-width: 350px;
	min-height: 200px;
	margin: 40px auto;
	background-color: #fff;
	border-radius: 0px;
}

.modal-header {
	position: relative;
	padding: 10px 20px;
	background-color: red;
}

.modal-header h3 {
	margin: 0;
	font-size: 35px;
	margin-left: 40%;
	margin-right: 40%;
}

#modal-close {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 40px;
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}

.modal-body {
	padding: 20px;
}

#modal-ok-button:hover {
	background-color: #eee;
}


/* ==============================================================
  End of modal styles*/

.striked{
      text-decoration: line-through;
      text-color: red;
}

#shipTracker {
    position: absolute;
    bottom: 200px;
    right: 15px;
}

#ttt {
 	 border: 1px solid black;
 	 border-collapse: collapse;
}

#tt {
 	border: 1px solid black;
}

#dest{
 	border: 1px solid black;
}

#dest2{
    background-color: green;
}

#batt{
    border: 1px solid black;
}

#batt2{
    background-color: green;
}

#mine {
    border: 1px solid black;
}

#mine2{
    background-color: green;
}

#sub {
    border: 1px solid black;
}

#sub2{
    background-color: green;
}