<div id="modal-backdrop" class="hidden"> </div>
<div id="error-modal" class="hidden">
    <div class="modal-dialog">
        <div class="modal-header">
            <h3 class="modal-header-text">ERROR</h3>
            <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
        </div>
        <div class="modal-body">
            <p id="modal-main-text" class="modal-text">
                <!-- Possible strings that will be in modal-main-text -->
                <!-- The location you just tried to place a ship at is invalid. -->
                <!-- The attack you just tried to make is invalid. If it has been attacked already you cannot attack again.-->
            </p>
        </div>
        <button id="modal-ok-button" class="modal-button">
            OK
        </button>
    </div>
</div>


