<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1>BATTLESHIP: Battle Royale!</h1>
<h2 id="player_prompt">Place your Ships</h2>

<div id="opp_board" class="small">
    <table id="opponent" class="battleGrid"></table>
</div>
<div id="play_board" class="big">
    <table id="player" class="battleGrid"></table>
</div>

<ul>
    <li><button id="place_minesweeper">Place Minesweeper</button></li>
    <li><button id="place_destroyer">Place Destroyer</button></li>
    <li><button id="place_battleship">Place Battleship</button></li>
    <li><input type="checkbox" id="is_vertical">Vertical</input></li>
</ul>

<table id="ttt" style="width:20%">
    <tr id="ttt" id="tt"><th><h3>Opponent's Ships</h3></th></tr>
    <tr id="ttt">
        <th id="dest" id="tt">Destroyer</th>
    </tr>
    <tr id="ttt">
        <th id="batt" id="tt">Battleship</th>
    </tr>
    <tr id="ttt">
        <th id="mine" id="tt">Minesweeper</th>
    </tr>
</table>

<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>
