<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1>BATTLESHIP: Battle Royale!</h1>
<h2 id="player_prompt">Place your Ships</h2>

<div id="opp_board" class="small">
    <table id="opponent" class="battleGrid"></table>
</div>
<div id="play_board" class="big">
    <table id="player" class="battleGrid"></table>
</div>

<ul>
    <li><button id="place_minesweeper">Place Minesweeper</button></li>
    <li><button id="place_destroyer">Place Destroyer</button></li>
    <li><button id="place_battleship">Place Battleship</button></li>
    <li><input type="checkbox" id="is_vertical">Vertical (keyboard shortcut: <kbd>r</kbd>)</input></li>
    <li><</li>
</ul>
<div id="visibleButtons">
    <button id="new_game">New Game</button>
    <button id="surrender">Surrender</button>
</div>
<div id = "shipTracker">
<table id="ttt" style="width:20%">
    <tr id="ttt">
        <th id = "tt"><h3>Opponent's Ships</h3></th>
        <th><h3>Your Ships</h3></th>
    </tr>
    <tr id="ttt">
        <th id="dest" >Destroyer</th>
        <th id="dest2" >Destroyer</th>
    </tr>
    <tr id="ttt">
        <th id="batt" >Battleship</th>
        <th id="batt2" >Battleship</th>
    </tr>
    <tr id="ttt">
        <th id="mine" >Minesweeper</th>
        <th id="mine2" >Minesweeper</th>
    </tr>
    <tr id="ttt">
        <th id="sub" >Submarine</th>
        <th id="sub2" >Submarine</th>
    </tr>
</table>
</div>

<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>
